:root {
    /* primary */
    --color-primary-100: hsl(254, 88%, 90%);
    --color-primary-500: hsl(256, 67%, 59%);
    /* secondary */
    --color-secondary-100: hsl(31, 66%, 93%);
    --color-secondary-500: hsl(39, 100%, 71%);

    --color-white: hsl(0, 0%, 100%);
    --color-gray: hsl(0, 0%, 96%, 100%);
    --color-black: hsl(0, 0%, 7%);

    /* typography */
    --font-family: "DM Sans", serif;
    --fs-base: 1.8rem;
    --fs-xl: 2.6rem;
    --fs-2xl: 4.4rem;

    --fw-400: 400;
    --fw-500: 500;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3 {
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.1rem;
}

h1 {
    font-size: var(--fs-2xl);
}

h2 {
    font-size: var(--fs-xl);
}

body {
    background-color: var(--color-gray);
    font-family: "DM Sans", serif;
    font-size: var(--fs-base);
    font-weight: var(--fw-400);
}

.container {
    width: 100%;
    max-width: 111.5rem;
    margin: auto;
    padding: 3.2rem 1.6rem;
}

.grid,
.grid__column,
.grid__item,
.grid__item-inside{
    display: grid;
    gap: 3rem;
}

.grid__item {
    width: 100%;
    overflow: hidden;
    gap: 1rem;
    background-color: var(--color-white);
    padding: 2.2rem;
    border-radius: .7rem;
}

/* Social Media */
.social {
    background-color: var(--color-primary-500);
    padding: 4rem;
}

.social .card__title {
    color: var(--color-white);
    font-size: var(--fs-2xl);
    font-weight: var(--fw-500);
    text-align: center;
    margin-bottom: 3rem;
}

.social .card__title span {
    color: var(--color-secondary-500);
}

.social .card__image {
    max-width: 18rem;
    margin: auto;
}

.social p {
    color: var(--color-gray);
    text-align: center;
}

/* Platforms */
.platforms .card__image {
    margin-bottom: 2rem;
}

/* Posting schedule */
.posting {
    background-color: var(--color-secondary-500);
    padding-block-end: 0;
}

.posting .card__title {
    margin-bottom: 1rem;
}

.posting .card__image {
    max-width: 24rem;
    margin-bottom: -2rem;
}

/* Schedule to social media */
.schedule {
    background-color: var(--color-primary-100);
    text-align: center;
    gap: 3rem;
    padding-top: 3.5rem;
    padding-bottom: 3rem;
}

/* Grow followers */
.followers {
    background-color: var(--color-primary-500);
}

.followers .card__title {
    color: var(--color-white);
    text-align: center;
    font-size: 3.2rem;
}

.followers .card__image {
    max-width: 25rem;
    margin: auto auto 2rem;
}

/* Audience growth */
.audience .card__number {
    font-size: var(--fs-2xl);
    font-weight: var(--fw-500);
}

.audience .card__title {
    font-size: var(--fs-base);
    padding: 2.5rem 0;
}

.audience .card__image {
    max-width: 18rem;
}

/* Create post */
.create {
    background-color: var(--color-secondary-100);
}

.create .card__title em {
    color: var(--color-primary-500);
}

.create .card__title {
    padding-bottom: 2rem;
}

.create .card__image {
    max-width: 18rem;
}

/* Write */
.write {
    background-color: var(--color-secondary-500);
}

.write .card__title {
    padding-bottom: 2rem;
}

.write .card__image {
    max-width: 20rem;
}

@media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(3, 30rem);
        grid-template-areas:
    "column4 column1 column2"
    "column4 column1 column2"
    "column4 column3 column3";
    }

    .grid--column-1 {
        grid-area: column1;
    }

    .grid--column-1 .grid__item-inside{
        grid-template-columns: repeat(2, 1fr);
    }

    .grid--column-2 {
        grid-area: column2;
    }

    .grid--column-3 {
        grid-area: column3;
        grid-template-columns: 1fr 2.2fr;
    }

    .grid--column-4 {
        grid-area: column4;
    }


    .audience {
        order: -1;
    }

    .followers {
        display: flex;
        gap: 1rem;
    }

    .followers .card__image {

    }

    .followers .card__title {
        text-align: left;
        align-self: center;
    }

    .create .card__title,
    .write .card__title,
    .followers .card__title{
        font-size: 4rem;
    }

    .social .card__title {
        font-size: 6rem;
    }

    .platforms .card__title,
    .posting .card__title,
    .schedule .card__title{
        font-size: 3.2rem;
    }
}